<section class="cv-section" id="cv">
    <div class="section-content">
        <h2 class="section-title">Professional Experience</h2>
        <div class="section-text">
            <ul><b>{{site.cv.smbc.title}}</b>
                {% for item in site.cv.smbc.items %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>

            <ul><b>{{site.cv.rosenblatt.title}}</b>
                {% for item in site.cv.rosenblatt.items %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>

            <ul><b>{{site.cv.groupone.title}}</b>
                {% for item in site.cv.groupone.items %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
