<section class="cv-section" id="cv">
    <div class="section-content">
        <h2 class="section-title">Professional Experience</h2>
        <div class="section-text">
            <ul><b>SMBC Capital Markets - Trading Analyst</b>
                <li>Began as a junior trader and found a passion for software development and data science.</li>
                <li>Built dozens of tools and automations with Python, C++ and SQL to integrate the firm's databases and valuation systems and speed up the pricing, execution, and booking of trades.</li>
            </ul>

            <ul><b>Rosenblatt Securities - Equity Research Intern</b>
                <li>Conducted research for a combined universe of 40+ stocks in semiconductor, fintech, and digital asset sectors.</li>
            </ul>

            <ul><b>Group One Trading - Options Trading Intern</b>
                <li>Trained in trading and options theory at one of the leading market-makers in exchange-listed derivatives.</li>
            </ul>
        </div>
    </div>
</section>
