<header class="header">
    <div class="header-content {% if page.url == '/' %}home-header-content{% endif %}">
        <h1 class="header-name"><a href="/" class="header-name-link">{{site.name}}</a></h1>
        <div class="header-line"></div>
        <nav class="nav">
            <ul class="nav-links">
                <li><a href="/bio">About</a></li>
                <li> <a> | </a> </li>
                <li><a href="/projects">Projects</a></li>
                <li> <a> | </a> </li>
                <li><a href="/cv">CV</a></li>
            </ul>
        </nav>
    </div>
</header>