<header class="header">
    <div class="header-content">
        <div class="header-row {% if page.url == '/' %}home-header-row{% endif %}">
            <h1 class="header-name"><a href="/" class="header-name-link">{{site.name}}</a></h1>
            <nav class="nav">
                <ul class="nav-links">
                    <li><a href="/bio">Bio</a></li>
                    <li> <a> | </a> </li>
                    <li><a href="/projects">Projects</a></li>
                    <li> <a> | </a> </li>
                    <li><a href="/cv">CV</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-line"></div>
    </div>
</header>
