{% include "base.html" %}

<body>
    <!-- Home Section -->
    <section class="home-section" id="home">
        <div class="home-header-container">
            <img src="/images/gputhinker2.png" class="home-header-image">
            <div class="home-header-only">
                <div class="header-title-container">
                    <h1 class="header-name">{{site.name}}</h1>
                </div>
                <div class="home-header-line"></div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    {% include "about.html" %}

    <!-- Experience Section -->
    {% include "cv.html" %}

    <!-- Projects Section -->
    {% include "projects.html" %}

</body>
