{% include "base.html" %}
<body>
    <div class="home-header-container">
        <img src="/images/gputhinker2.png" class="home-header-image">
        <div class="home-header-only">
            <h1 class="header-name">{{site.name}}</h1>
            <div class="header-line"></div>
            <nav class="nav">
                <ul class="nav-links">
                    <li><a href="/bio">Bio</a></li>
                    <li> <a> | </a> </li>
                    <li><a href="/projects">Projects</a></li>
                    <li> <a> | </a> </li>
                    <li><a href="/cv">CV</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
