<section class="projects-section" id="projects">
  <div class="section-content">
    <h2 class="section-title">Projects</h2>
    <div class="section-text">
      <ul> <b> DeepOthello - AlphaGo for Othello </b>
        <li> AI board game opponent powered by neural net architecture inspired by DeepMind's AlphaGo and AlphaZero.
        </li>
        <li> Trained in PyTorch, game logic and interface written in Java. </li>
      </ul>
      <ul> <b> Multiple Protein Structural Alignment (MSTA) Generation </b>
        <li> A novel softmax-based pseudo-alignment model for predicting how multiple 3D protein structures
          chain </li>
        <li> Incorporates feature engineering into existing protein foundation models to reduce time on MSTA search
          tasks by several orders of magnitude versus classical
          techinques </li>
        <li> Interpolated functional JAX training scripts to more performant PyTorch variants</li>
      </ul>
      <ul> <b> A Tale of Two Discourses - Defense Think Tank NLP Database </b>
        <li> Web scraping library built for a Penn professor's research to extract and organize reports on the
          Russo-Ukrainian war from top European defense think tanks. </li>
        <li> Written in Python and JavaScript</li>
      </ul>
    </div>
  </div>
</section>