<section class="projects-section" id="projects">
  <div class="section-content">
    <h2 class="section-title">Projects</h2>
    <div class="section-text">
      <ul> <b> {{site.projects.deepothello.title}} </b>
        {% for item in site.projects.deepothello.items %}
        <li> {{item}} </li>
        {% endfor %}
      </ul>
      <ul> <b> {{site.projects.proteinforge.title}} </b>
        {% for item in site.projects.proteinforge.items %}
        <li> {{item}} </li>
        {% endfor %}
      </ul>
      <ul> <b> {{site.projects.defense.title}} </b>
        {% for item in site.projects.defense.items %}
        <li> {{item}} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
